
body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #ece5dd;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.chat-header {
    background-color: #075E54;
    color: white;
    font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 12px;
    text-align: center;
    letter-spacing: 0.5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.chat-messages {
    flex: 1; 
    padding: 10px;
    background-color: #f5f5f5;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-bottom: 1px solid #ccc;
}


.message {
    max-width: 70%;
    padding: 8px 12px;
    border-radius: 15px;
    position: relative;
    word-wrap: break-word;
    color: #075E54;
    font-size: 14px;
}




.message .timestamp {
    font-size: 10px;
    color: #666;
    margin-top: 2px;
    text-align: right;
}

.chat-input {
    border-top: 1px solid #ccc; 
    background: white;          
    padding: 8px;
  }

.chat-input form {

    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: stretch;
}

.chat-input textarea {
   
   width: 120%;
   padding: 8px 12px;    
   font-size: 16px; 
   border: 1px solid #ccc;
   border-radius: 15px;
   outline: none;
   overflow-y: scroll;    
   scrollbar-width: none;
   resize: none;    
   font-family: inherit;
   font-size: 14px;
   line-height: 1;    
  
}

.chat-input button {

    width: 20%;
    background: #25D366;
    color: white;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    padding: 0 16px;    
    font-size: 16px;         
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #20b955; /* darker green */
}